*{
    margin: 0;
    padding: 0;
}
.el-tabs__header{
    background: #ffffff;
    margin: 10px 0 0 0;
}
.orderSearch{
    height:150px;
    background:#fff;
}
.el-main {
    padding: 0;
    text-align: left;
}
.el-aside {
    width: 164px !important;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner{
    text-decoration: none;
    -webkit-transition: color .2s cubic-bezier(.645,.045,.355,1);
    transition: color .2s cubic-bezier(.645,.045,.355,1);
    color:  #32313E;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
    font-weight: 400;
    color: #999;  
}
.el-card__body {
    padding: 0;
}
.el-tabs__item {
    font-size: 16px;
    font-weight: 500;
    color: #999999;
}
.el-tabs__item.is-active {
    color: #333;
}
.el-tabs__active-bar{
    margin-left: 15px;
    width: 50px !important;
}