body {
  font-family: Microsoft YaHei, PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
i.icon{
  color: #3c62d0;
  cursor: pointer;
}
a {
  color: #3c62d0;
  text-decoration: underline;
  cursor: pointer;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  display: block;
}
.mg10{
  margin-left: 10px;
}

.mg20{
  margin-left: 20px;
}

.small-title {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
}

.el-table__header {
  tr {
    height: 56px !important;

    th {
      background-color: #fafafa;
    }
  }
}

.el-table__row {
  height: 53px !important;

  .el-button--text {
    color: #3c62d0;
  }
}

.el-table th div {
  font-size: 16px;
  font-family: PingFangSC-Medium;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background: none;
}

.el-table__body-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

//滚动条的滑块
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 3px;
}

.radius {
  border-radius: 10px;
  background: white;
}

.el-button--primary,
.el-button--default {
  // width: 80px;
  height: 40px;
  border-radius: 4px;
}

.el-button--primary {
  background-color: rgba(60, 98, 208, 1);
  border-color: rgba(60, 98, 208, 1);
  color: white !important;

  &:hover {
    background: rgba(60, 98, 208, 0.8) !important;
    border-color: rgba(60, 98, 208, 1);
  }

  &:active {
    // background: rgba(51, 87, 192, 1);
  }

  &:focus {
    background-color: rgba(60, 98, 208, 1) !important;
    border-color: rgba(60, 98, 208, 1) !important;
  }

  &:visited {
    background-color: rgba(60, 98, 208, 1) !important;
    border-color: rgba(60, 98, 208, 1) !important;
  }
}

.el-button--default {
  // background: rgba(255, 255, 255, 1);

  &:hover {
    background: rgba(255, 255, 255, 1);
    color: #3c62d0;
    border: 1px solid #3c62d0;
  }

  &:active {
    background: rgba(96, 126, 216, 0.19);
    color: rgba(60, 98, 208, 1);
    border: 1px solid rgba(60, 98, 208, 1);
  }

  &:focus {
    color: rgba(0, 0, 0, 0.65);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 217, 217, 1);
  }
}

// 分页CSS
#pagination-containers {
  background: #fff;
  padding: 40px 0px 0px;
  .el-input{
    display: inline-block;
    width: 100px;
  }
  .el-input.el-pagination__editor.is-in-pagination {
    width: 60px;
    padding: 0 5px;
  }
  .el-pagination__jump {
    margin-left: -5px;
  }
  .pagination-container.hidden {
    display: none;
  }
  .el-pagination__sizes {
    margin-left: 5px;
  }

  .el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #3c62d0;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #3c62d0;
    &:hover {
      color: #fff !important;
    }
    color: #fff;
  }
  .el-pagination.is-background .el-pager li {
    background: white;
    border: 1px solid rgba(217, 217, 217, 1);
    &:hover {
      border-color: #3c62d0 !important;
    }
  }
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .el-pager li {
    border-radius: 4px;
    width: 32px;
    height: 32px;
  }
  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #3c62d0;
  }
  .pagination-containers {
    .btn-next,
    .btn-prev {
      &:hover {
        border-color: #3c62d0 !important;
        color: #3c62d0 !important;
      }
      background: white !important;
      border: 1px solid rgba(217, 217, 217, 1);
    }
    .el-pager {
      .number.active {
        &:hover {
          color: white !important;
        }
        border: 1px solid #3c62d0 !important;
        background-color: #3c62d0 !important;
      }
    }
  }
}
// .el-progress-bar {
//   height: 20px;
// }

// .el-progress-bar__outer {
//   height: 20px !important;
//   background: #f2b01d;
//   border-radius: 20px;
// }

// .el-progress-bar__inner {
//   height: 20px;
//   background: #4166d1;
// }

.el-input__prefix {
  // left: 999px;
  left: initial;
  right: 5px !important;
}

.el-input--prefix .el-input__inner {
  padding-left: 15px;
}

.el-main {
  .public-box {
    height: 100%;

    .header-tabs {
      padding: 0 72px;

      .header-tabs-box {
        position: relative;
        height: 49px;
        margin-top: 27px;

        .tabs-active {
          color: #3c62d0;
        }

        .tabs-border {
          height: 3px;
          width: 64px;
          background: #3c62d0;
          position: absolute;
          bottom: 0;
          transition: all 0.3s;
          border-radius: 4px;
        }

        .tabs-main {
          margin-right: 48px;
          cursor: pointer;
          text-align: center;
          width: 64px;
          line-height: 50px;
        }
      }
    }

    .header-title-button {
      width: 100%;
      padding: 0 40px !important;

      .el-button + .el-button {
        margin-left: 16px;
      }

      .public-header-title {
        padding-top: 10px;
        margin-top: 10px;
        font-size: 18px;
        height: 24px;
        line-height: 24px;
        font-weight: 900;
        color: #3e3e3e;
      }
    }

    .public-header {
      background: white;
      height:62px !important;
      // box-shadow: 0px 3px 22px -9px #ccc;
      box-shadow:0px 1px 4px 0px rgba(0,21,41,0.04);
      z-index:9;
      
    }
    .header-tabs{
      height: 75px !important;
      font-size: 16px;
    }
    .public-main {
      box-sizing: border-box;
      padding: 20px;
      background: #f0f2f5;
      overflow: auto;
      display: flex;
      flex: 1;
      .public-padding {
        padding: 20px;
      }

      .public-main-content {
        width: 100%;
        background: white;
        box-sizing: border-box;
      }
    }
  }
}

.el-form-item {
  .el-form-item__label {
    position: relative;
  }

  .el-form-item__label::before {
    position: absolute;
        top: -7px;
        right: 0;
  }
}

.el-form-item__error {
  top: -103%;
  left: auto;
  right: 5px;
  font-size: 14px;
  color:#D31919;
  
}

.el-form-item.is-error .el-input__inner{
  border-color:#D31919;
}

.el-form-item__label {
  float: none;
}

//   删除提示框类名warning，样式
.warning {
  padding: 40px 32px 24px 40px;
  width: 397px;

  p {
    color: rgba(0, 0, 0, 0.85);
  }

  .el-message-box__header {
    display: none;
  }

  .el-message-box__btns {
    margin-top: 72px;

    .el-button {
      height: 32px;
    }
  }

  .el-message-box__content {
    padding: 0;
  }
}

//下面是分页和input框的样式-----------------------------------------------------------------
.el-date-picker .el-picker-panel__content{
  width: auto;
  td{
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      .cell{
        width: 45px; height: 22px;
        line-height: 22px;
        border-radius: 2px !important;
      }
    }
  }
 
}
.el-date-table td.today span,.el-date-table td.available:hover{
  color: #3c62d0;
}
.el-month-table td .cell{
  border-radius: 0;
}
.el-date-table td.current:not(.disabled) span{
  background: #3c62d0;
}
.el-date-picker {
  width: 280px;

  td.current {
    .cell {
      color: white !important;
      background: #3c62d0;
      border-radius: 0 !important;
    }
  }

  .el-picker-panel__content {
    width: initial;

    .cell:hover {
      color: #3c62d0;
    }

    .el-month-table td.today .cell {
      color: #3c62d0;
      font-weight: 100;
    }

    // .el-month-table td.today,.el-month-table td.current:not(.disabled) {
    //     .cell{
    //         color: white;
    //     }
    // }
  }
}

.el-select-dropdown__item.selected {
  color: #3c62d0 !important;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #3c62d0;
  outline: 0;
}

.el-select .el-input__inner:focus {
  border-color: #3c62d0;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: #3c62d0;
}

//----------------------------------------------------------------------------------------
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background: #3c62d0;
  border-color: #3c62d0;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #3c62d0;
}
.el-checkbox__inner:hover{
  border-color: #3c62d0;
}

.el-checkbox.is-checked {
  .el-checkbox__label {
    color: #606266;
  }
}

//这是全是表单的页面的样式
.public-form,
.all-form {
  .el-select {
    width: 100%;
  }

  .el-date-editor {
    width: 100%;
  }
}

.inline-form {
  .el-form-item:nth-last-of-type(0) {
    margin-right: 0 !important;
  }

  .el-input,
  .el-date-editor,
  .el-select {
    width: 280px;
  }
}

.all-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .el-form-item {
    width: 26.9%;
    min-width: 300px !important;
    margin-right: 0;
  }

  .el-divider--horizontal {
    margin: 33px 0;
  }
}

//---------------------------------------------------------------------------------------------//----------------------------------------------------------------------------------------
// dialog弹窗头部样式
.el-dialog{
  border-radius: 10px;
  .el-dialog__headerbtn:hover .el-dialog__close{
    color: #3c62d0
  }
  .el-dialog__body{
    padding: 10px 20px;
  }
}
.el-dialog__header {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  padding: 20px 40px;
  
  .el-dialog__title {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600 !important;
  }
}
.el-dialog__footer{
  text-align: center;
}

.el-loading-spinner .path{
  stroke:#3c62d0
}

.el-upload-list__item.is-success .el-upload-list__item-name:hover{
  color:#3c62d0;
}

//-------------------------------------------------------------------------------------
//滚动表格
#public-table {
  position: relative;
  .el-table__body-wrapper,
  .el-table__fixed-body-wrapper {
    .el-table__row:nth-last-of-type(1) {
      td {
        //  border:0;
      }
    }
  }
  //滚动条的滑块
  .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 1);
    border-radius: 3px;
  }
  .el-table__body-wrapper::-webkit-scrollbar {
    height: 6px !important;
  }
  .el-table__fixed,
  .el-table__fixed-right {
    // box-shadow: 1px 0 0px rgba(0,0,0,.12) !important;
    box-shadow: none;
    padding-bottom: 13px;
    border-bottom: 0;
  }
  .el-table__fixed-right::before,
  .el-table__fixed::before {
    background: none;
    border: 0;
  }
  .el-table__header-wrapper {
    .is-leaf {
      background: #eef1fb;
    }
  }
  .none-list{
    height: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 56px;
    line-height: 60px;
    background: white;
    color: #606266;
  }
}
//--------------------------------------------------------------------------------------
@media screen and (max-width: 1600px) {
  body {
      zoom: 0.9;
  }
}

.el-table{
  .cell{
    .icon{
      margin-right: 15px;
      font-size: 16px;
    }    
  }
}